<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAjVTQ1x1rpMNE0bn88Xwzm4w_qKk0MnAc</string>
	<key>GCM_SENDER_ID</key>
	<string>139589833388</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagram.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>instagram-da4b7</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-da4b7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:139589833388:ios:301a402ac68697e058c509</string>
</dict>
</plist>